interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2021-01-21T03:48:07Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"21cd756e-e290-4a26-9547-93e8cc1a8923","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-06-21T01:32:03Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Zunli
        Hu","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"zuh@microsoft.com","mailNickname":"zuh_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["zuh@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:zuh@microsoft.com"],"refreshTokensValidFromDateTime":"2019-06-21T01:32:03Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/21cd756e-e290-4a26-9547-93e8cc1a8923/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"zuh_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-06-24T01:43:59Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2278403'
      ocp-aad-diagnostics-server-name:
      - BvnKVsfxZDqL85okI5AHfAEsrwVHEBaAxav2M5Otn1A=
      ocp-aad-session-key:
      - fNDybwzm4VXOQIVJTURg6Dtz0EfnuZdfu0MlM5emI_KfQvpdyEeuVtUE-nbH8SlQdkBIf-jugN1rHM0grdsBjcaMEqeg3XCXeWZSUeqcUaCfbJvebz10yJeuQXIIxX6M.laZENcPNrkyBFEgq7Q-8RUbzJ2QW6Ile501kAv_6wVA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "21cd756e-e290-4a26-9547-93e8cc1a8923",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003","name":"clitest000003","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"21cd756e-e290-4a26-9547-93e8cc1a8923","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://clitest000003.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/testkey/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/testkey/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://clitest000003.vault.azure.net/keys/testkey/e5ce65540ee44950be6ab196059d76e4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wNj2gJECmR6M_cSrlOXJm5d8K0fS_yYsZFCiVXLEy5g2gqDuNQbPbPNN-zZW_C4JBPObvkCWcVd2crpbxqPJftT5ZJK_HmsqjfdHcsvuKXVJ-h7KQDTKgHcLEzGIzH4CO_QRCkf_nsWGzNPMW7XVYC2_5yrt1oPlYGqFp6kSHrKq7kQIQP5Xb193LnZxkT78Py3X-I7Sq_kKA7A-zMS9U35wz-6GphUe38WnGo7nT7r3cyrDPqWQ005in8qXCizQ-7nXbwSk-mrHCtlNnrDbzpcpf-JCvt2pjy76BiY59PpjxSW1u1K0n6d4wWlYHqnP8tEjk0E56sDMZ8nnLUnCBQ","e":"AQAB"},"attributes":{"enabled":true,"created":1611200937,"updated":1611200937,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2021-01-21T03:48:07Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
