interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Storage/storageAccounts/logreplay000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 16 Apr 2021 07:05:28 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://logreplay000002.blob.core.windows.net/logreplaycontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D900A605E23E54"'
      last-modified:
      - Fri, 16 Apr 2021 07:05:31 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-sub-resource-groupbvy56l4cm5xvclfem5lifl725op2rsc3/providers/Microsoft.Storage/storageAccounts/armbuilddemo5ygtzdg6","name":"armbuilddemo5ygtzdg6","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-14T09:33:57.1682665Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-14T09:33:57.1682665Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-04-14T09:33:57.0432620Z","primaryEndpoints":{"blob":"https://armbuilddemo5ygtzdg6.blob.core.windows.net/","queue":"https://armbuilddemo5ygtzdg6.queue.core.windows.net/","table":"https://armbuilddemo5ygtzdg6.table.core.windows.net/","file":"https://armbuilddemo5ygtzdg6.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-sub-resource-groupq7pgu7g74kinmn5rzzthu6dosn6x3bow/providers/Microsoft.Storage/storageAccounts/armbuilddemokch5pqfy","name":"armbuilddemokch5pqfy","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRul[...]
[...]
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestLogReplayRouteTable\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable\",\r\n
        \ \"etag\": \"W/\\\"7c216def-7b16-46ed-a9b1-5d3c0689a0ef\\\"\",\r\n  \"type\":
        \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"3678f894-e6a3-43fa-923e-a175b27a40ec\",\r\n    \"disableBgpRoutePropagation\":
        false,\r\n    \"routes\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/c9c141e7-cbe3-4ab9-9e92-e3a4bd600f8a?api-version=2020-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/c9c141e7-cbe3-4ab9-9e92-e3a4bd600f8a?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "default", "properties": {"addressPrefix": "0.0.0.0/0", "nextHopType":
      "Internet"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable/routes/default?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable/routes/default\",\r\n
        \ \"etag\": \"W/\\\"a4798db9-4bf3-4590-80f9-f7b0471ef5c0\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"0.0.0.0/0\",\r\n
        \   \"nextHopType\": \"Internet\",\r\n    \"hasBgpOverride\": false\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/routeTables/routes\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/2aa92727-06d1-42b8-a27e-49af324bf962?api-version=2020-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "subnet_to_vnet_local", "properties": {"addressPrefix": "10.0.0.0/24",
      "nextHopType": "VnetLocal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable/routes/subnet_to_vnet_local?api-version=2020-11-01
  response:
    body:
      string: "{\r[...]
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/virtualNetworks/vcCliTestLogReplayVnet?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestLogReplayVnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/virtualNetworks/vcCliTestLogReplayVnet\",\r\n
        \ \"etag\": \"W/\\\"6b9a33e1-6320-4fcb-ba7c-63fb04036b56\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"7709d528-970b-4c34-8529-76c467e03e38\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/584f71d1-ac3e-4929-910c-5b0c18e9d4c1?api-version=2020-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest-logreplay000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001","name":"clitest-logreplay000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2021-04-16T07:04:53Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/networkSecurityGroups/test-vnet-nsg?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"test-vnet-nsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/networkSecurityGroups/test-vnet-nsg\",\r\n
        \ \"etag\": \"W/\\\"4167fc93-6554-4b51-b85d-3680e417ed3d\\\"\",\r\n  \"type\":
        \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"bfa108ac-ac97-4047-9e8b-cddd0942479f\",\r\n    \"securityRules\": [],\r\n
        \   \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/networkSecurityGroups/test-vnet-nsg/defaultSecurityRules/AllowVnetInBound\",\r\n
        \       \"etag\": \"W/\\\"4167fc93-6554-4b51-b85d-3680e417ed3d\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n
        \         \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n
        \         \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\":
        \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n
        \         \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\":
        \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\":
        [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\":
        []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/networkSecurityGroups/test-vnet-nsg/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n
        \       \"etag\": \"W/\\\"4167fc93-6554-4b51-b85d-3680e417ed3d\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/def[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/virtualNetworks/vcCliTestLogReplayVnet",
      "location": "westcentralus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name": "vcCliTestLogReplaySubnet",
      "properties": {"addressPrefix": "10.0.0.0/24", "routeTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable",
      "location": "westcentralus", "properties": {"routes": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable/routes/default",
      "name": "default", "type": "Microsoft.Network/routeTables/routes", "propertie[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/virtualNetworks/vcCliTestLogReplayVnet/subnets/vcCliTestLogReplaySubnet?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestLogReplaySubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/virtualNetworks/vcCliTestLogReplayVnet/subnets/vcCliTestLogReplaySubnet\",\r\n
        \ \"etag\": \"W/\\\"ca3db0c1-4fd9-4cc0-96b4-419ce214fd5b\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"routeTable\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable\"\r\n
        \   },\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\":
        \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ca3db0c1-4fd9-4cc0-96b4-419ce214fd5b"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/virtualNetworks/vcCliTestLogReplayVnet/subnets/vcCliTestLogReplaySubnet",
      "name": "vcCliTestLogReplaySubnet", "properties": {"addressPrefix": "10.0.0.0/24",
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/networkSecurityGroups/test-vnet-nsg"},
      "routeTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable",
      "location": "westcentralus", "properties": {"routes": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable/routes/default",
      "name": "default", "type": "Microsoft.Network/routeTables/routes", "properties":
      {"addressPrefix": "0.0.0.0/0", "nextHopType": "Internet", "hasBgpOverride":
      false}}, {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/routeTables/vcCliTestLogReplayRouteTable/routes/subnet_to_vnet_local",
      "name": "subnet_to_vnet_local", "type": "Microsoft.Network/routeTables/routes",
      "properties": {"addressPrefix": "10.0.0.0/24", "nextHopType": "VnetLocal", "hasBgpOverride":
      false}}], "disableBgpRoutePropagation": false}}, "delegations": [{"name": "0",
      "properties": {"serviceName": "Microsoft.Sql/managedInstances"}}], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-logreplay000001/providers/Microsoft.Network/virtualNetworks/vcCliTestLogReplayVnet/subnets/vcCliTestLogReplaySubnet?api-version=2020-11-01
  response:
    body:
      string: [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/capabilities?include=supportedManagedInstanceVersions&api-version=2020-08-01-preview
  response:
    body:
      string: '{"name":"West Central US","supportedManagedInstanceVersions":[{"name":"12.0","supportedEditions":[{"name":"GeneralPurpose","supportedFamilies":[{"name":"Gen5","sku":"GP_Gen5","supportedLicenseTypes":[{"name":"LicenseIncluded","status":"Default"},{"name":"BasePrice","status":"Available"}],"supportedVcoresValues":[{"name":"2","value":2,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":640,"unit":"Gigabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSupported":true,"standaloneSupported":false,"supportedMaintenanceConfigurations":[{"name":"SQL_Default","status":"Default"}],"status":"Available"},{"name":"4","value":4,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":2,"unit":"Terabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSupported":true,"standaloneSupported":true,"supportedMaintenanceConfigurations":[{"name":"SQL_Default","status":"Default"}],"status":"Available"},{"name":"8","value":8[...]
